@{ 
    Layout = "default";
    Title = "Module";
}

<div class="row">
    <div class="span9" id="main">
        <h1>@Model.Type.Name</h1>

        <div class="xmldoc">
            @Model.Type.Comment.FullText
        </div>

        @RenderPart("members", new
        {
            Header = "Union Cases",
            TableHeader = "Union Cases",
            Members = Model.Type.UnionCases
        })

        @RenderPart("members", new
        {
            Header = "Record Fields",
            TableHeader = "Record Fields",
            Members = Model.Type.RecordFields
        })

        @RenderPart("members", new
        {
            Header = "Constructors",
            TableHeader = "Constructors",
            Members = Model.Type.Constructors
        })

        @RenderPart("members", new
        {
            Header = "Instance members",
            TableHeader = "Instance members",
            Members = Model.Type.InstanceMembers
        })

        @RenderPart("members", new
        {
            Header = "Static members",
            TableHeader = "Static members",
            Members = Model.Type.StaticMembers
        })

    </div>
</div>

<div class="row">
    <div class="span9">
        <hr />
        <p><small>@(((IDictionary<string, string>)ViewBag.Properties)["project-name"]) @(((IDictionary<string, string>)ViewBag.Properties)["product-version"]) &copy; QuantAlea GmbH.</small></p>
    </div>
</div>
